.rangeSlide {
    height: 2px;
    -webkit-appearance: none;
    margin: 10px 8px 10px 0;
}

.rangeSlide:focus {
    outline: none;
}

.rangeSlide::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    border-radius: 1px;
    border: 0px solid #000000;
}

.rangeSlide::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #1A73E8;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    background: #1A73E8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.rangeSlide:focus::-webkit-slider-runnable-track {
    /* background: linear-gradient(90deg, #1A73E8 60%,  #C4DBF9 60%); HERE */
}

.rangeSlide::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1A73E8;
    border-radius: 1px;
    border: 0px solid #000000;
}

.rangeSlide::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #1A73E8;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

.rangeSlide::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.rangeSlide::-ms-fill-lower {
    background: #1A73E8;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.rangeSlide::-ms-fill-upper {
    background: #1A73E8;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.rangeSlide::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #1A73E8;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

.rangeSlide:focus::-ms-fill-lower {
    background: #1A73E8;
}

.rangeSlide:focus::-ms-fill-upper {
    background: #1A73E8;
}